.text-bubble {
  position: absolute;
  top: 0;
  left: 0; /* Set left to 0 to center the text bubble */
  right: 0; /* Set right to 0 to center the text bubble */
  margin: 0 auto; /* This centers the text bubble horizontally */
  display: none;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
}

/* Show the text bubble on hover */
.tech-icons:hover .text-bubble {
  display: block;
}